# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main
test

# Test case
*.in
*.ans
results

# Debug files
.vscode
*.dSYM

# LAB1
battle
check_input
rand_input
solution_1
solution_2
solution_3

# LAB3
generator

# upload to oj
*.zip

.DS_Store
